<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1228_2.mapper.CommentMapper">

    <resultMap id="commentOrderUserRateDtoResultMap" type="com.example.demo1228_2.dto.CommentOrderUserRateDto">
        <result property="love_list" column="c.love_list" typeHandler="com.example.demo1228_2.config.JsonToListTypeHandler"/>
        <result property="love_list_num" column="c.love_list_num"/>
        <!-- Map other fields as required -->
    </resultMap>

    <select id="selectByProductIdLeftJoinOrderByLike2" resultMap="commentOrderUserRateDtoResultMap">
        SELECT c.love_list, c.love_list_num, c.id
        FROM t_comment AS c
        WHERE c.product_id = #{product_id}
        ORDER BY c.love_list_num DESC, create_time DESC
    </select>

</mapper>
